version: "3.9"
services:
  bookstack:
    # You should update the version here to match the latest
    # release of BookStack: https://github.com/BookStackApp/BookStack/releases
    # You'll change this when wanting to update the version of BookStack used.
    image: lscr.io/linuxserver/bookstack:latest
    container_name: bookstack
    depends_on:
      - mariadb
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam
      # APP_URL must be set as the base URL you'd expect to access BookStack
      # on via the browser. The default shown here is what you might use if accessing
      # direct from the browser on the docker host, hence the use of the port as configured below.
      - APP_URL=http://192.168.178.127:6875
      # APP_KEY must be a unique key. Generate your own by running
      # docker run -it --rm --entrypoint /bin/bash lscr.io/linuxserver/bookstack:latest appkey
      # You should keep the "base64:" part for the option value.
      - APP_KEY=base64:FQ3LWpMzcmqBrALEL8D38m9ucRfnZ9uQp/2p/zqqEvk=
      - TRUSTED_PROXIES=*
      # The below database details are purposefully aligned with those
      # configuted for the "mariadb" service below:
      - DB_HOST=mariadb
      - DB_PORT=3306
      - DB_DATABASE=bookstack
      - DB_USERNAME=bookstack
      - DB_PASSWORD=bookstack
      
    volumes:
      # You generally only ever need to map this one volume.
      # This maps it to a "bookstack_app_data" folder in the same
      # directory as this compose config file.
      - ./bookstack_data:/config
    ports:
      # This exposes port 6875 for general web access.
      # Commonly you'd have a reverse proxy in front of this,
      # redirecting incoming requests to this port.
      - 6875:80
    restart: unless-stopped
  cup:
    image: ghcr.io/sergi0g/cup:latest
    container_name: cup # Optional
    command: -c /config/cup.json serve
    ports:
      - 8008:8000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./cup:/config
    restart: always
    environment:
      CUP_REFRESH_INTERVAL: "0 0 * * * *"
    labels:
      homepage.group: Network
      homepage.name: Cup
      homepage.icon: /icons/cup-with-straw.png
      homepage.href: http:/192.168.168.127:8008
      homepage.ping: http://192.168.168.127:8008
      homepage.description: Checks for container updates
      homepage.widget.type: customapi
      homepage.widget.url: http://192.168.168.127:8008/api/v3/json
      homepage.widget.mappings[0].label: Monitoring
      homepage.widget.mappings[0].field.metrics: monitored_images
      homepage.widget.mappings[0].format: number
      homepage.widget.mappings[1].label: Up to date
      homepage.widget.mappings[1].field.metrics: up_to_date
      homepage.widget.mappings[1].format: number
      homepage.widget.mappings[2].label: Updates
      homepage.widget.mappings[2].field.metrics: updates_available
      homepage.widget.mappings[2].format: number
  esphome:
    container_name: esphome
    image: ghcr.io/esphome/esphome
    ports:
      - 6052:6052
    volumes:
      - ./esphome:/config
#    devices:
#      - /dev/ttyUSB0:/dev/ttyUSB0
     # - /dev/ttyUSB0:/dev/ttyUSB1
    network_mode: host
    restart: always



  # homer:
  #   container_name: homer
  #   image: b4bz/homer:latest
  #   ports:
  #     - 8080:8080
  #   volumes:
  #     - homer_data:/www/assets
  #   network_mode: host
  #   restart: always
  #   user: 1000:1000 
  #   environment:
  #     - INIT_ASSETS=1
  # home-assistant:
  #   container_name: home-assistant
  #   image: homeassistant/home-assistant:latest
  #   ports:
  #     - 8123:8123
  #   volumes:
  #     - ha_config:/config
  #     - /etc/localtime:/etc/localtime:ro
    #check USB devices location before deploy: ls -l /dev/serial/by-id  
    #devices:
     # - /dev/ttyUSB0:/dev/ttyUSB0
    #   - /dev/ttyUSB0:/dev/ttyUSB1
    #  - /dev/ttyACM0:/dev/ttyACM0
    #   - /dev/ttyACM1:/dev/ttyACM1
    # network_mode: host
    # restart: always
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    ports:
      - 1201:3000
    volumes:
      - ./homepage/config:/app/config # Make sure your local config directory exists
      - ./homepage/images:/app/public/images
      - ./homepage/icons:/app/public/icons
      - /var/run/docker.sock:/var/run/docker.sock # (optional) For docker integrations
    environment:
      - TZ=Europe/Amsterdam
      - HOMEPAGE_ALLOWED_HOSTS=192.168.178.127:1201,localhost,127.0.0.1,192.168.178.168,hasz.app
    restart: always
  jellyseerr:
    image: ghcr.io/fallenbagel/jellyseerr:latest
    init: true
    container_name: jellyseerr
    environment:
      - LOG_LEVEL=debug
      - TZ=Europe/Amsterdam
      - PORT=5055 #optional
    ports:
      - 5055:5055
    volumes:
      - /jellyseer/config:/app/config
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:5055/api/v1/status || exit 1
      start_period: 20s
      timeout: 3s
      interval: 15s
      retries: 3
    restart: unless-stopped
  komodo-agent:
    image: ghcr.io/moghtech/komodo-periphery:latest
    container_name: komodo-agent
    restart: unless-stopped
    ports:
      - "8120:8120"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /proc:/proc
      - ${PERIPHERY_ROOT_DIRECTORY:-/etc/komodo}:${PERIPHERY_ROOT_DIRECTORY:-/etc/komodo}
    environment:
      # Optioneel: geef een naam of beschrijving van de host door
      KOMODO_AGENT_NAME: dockerserver2
      PERIPHERY_ROOT_DIRECTORY: ${PERIPHERY_ROOT_DIRECTORY:-/etc/komodo}
  linkding:
    container_name: linkding
    image: sissbruecker/linkding:latest
    ports:
      - "9090:9090"
    volumes:
      - "./linkding/data:/etc/linkding/data"
    restart: unless-stopped
    environment:
      - LINKDING_DB_TYPE=sqlite   # makkelijkste optie, database in container
      - LD_SUPERUSER_NAME=ztorm
      - LD_SUPERUSER_PASSWORD=lekkerding

      # - LINKDING_DB_TYPE=mysql  # voor MySQL/Postgres kun je dit uncommenten en instellen
      # - LINKDING_DB_HOST=db
      # - LINKDING_DB_NAME=linkding
      # - LINKDING_DB_USER=linkding
      # - LINKDING_DB_PASS=strongpassword

  # volume_sharer:
  #   container_name: volume_sharer
  #   image: gdiepen/volume-sharer
  #   volumes:
  #     - /var/lib/docker/volumes:/docker_volumes
  #     - /var/run/docker.sock:/var/run/docker.sock
  #   ports:
  #     - 139:139
  #     - 445:445
  #   network_mode: host
  #   restart: always
  # syncthing:
  #   container_name: syncthing
  #   image: ghcr.io/linuxserver/syncthing
  #   volumes:
  #     - syncthing_config:/config
  #     - ha_config:/syncthing/ha
  #     - esphome_config:/syncthing/esphome
  #   ports:
  #     - 8384:8384
  #     - 22000:22000
  #     - 21027:21027
  #   restart: always
  #   environment:
  #     - PUID=1000
  #     - PGID=1000
  #     - TZ=Europe/Amsterdam
  mariadb:
    image: lscr.io/linuxserver/mariadb:latest
    container_name: mariadb
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam
      # You may want to change the credentials used below,
      # but be aware the latter three options need to align
      # with the DB_* options for the BookStack container.
      - MYSQL_ROOT_PASSWORD=1234
      - MYSQL_DATABASE=bookstack
      - MYSQL_USER=bookstack
      - MYSQL_PASSWORD=bookstack
    volumes:
      # You generally only ever need to map this one volume.
      # This maps it to a "bookstack_db_data" folder in the same
      # directory as this compose config file.
      - ./mariadb_data:/config

    # These ports are commented out as you don't really need this port
    # exposed for normal use, mainly only if connecting direct the the
    # database externally. Otherwise, this risks exposing access to the
    # database when not needed.
    # ports:
    #   - 3306:3306
    restart: unless-stopped
  zerobyte:
    image: ghcr.io/nicotsx/zerobyte:latest
    container_name: zerobyte
    restart: always
    ports:
      - 4096:4096
    environment:
      - TZ=Europe/Amsterdam  # Set your timezone here
      - APP_SECRET=c61fd19a4393e5ef399d3e27f30b8815cd2d967b3ffd5d174e587b4a7c46f8a1
      - BASE_URL=https://zerobyte.hasz.app
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/lib/zerobyte:/var/lib/zerobyte
      - /data:/data
      - ~/.config/rclone:/root/.config/rclone
      - /root/.ssh/hetzner_sb:/root/.ssh/hetzner_sb:ro
# volumes:
#   esphome_config:
  # ha_config:
  # homer_data:
  # syncthing_config:
